# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
.direnv
.envrc
pip-log.txt
pip-delete-this-directory.txt
*.lock
*.egg-info
test.py

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
.pytest_cache/

# Data and logs
experiments/
*.log
*.db
*.sqlite3

# OS-specific
.DS_Store
Thumbs.db

# Text
future_ideas.md
idea.md